<style>
  .content > * {
    margin-bottom: .6em;
  }

  .content > *:last-child {
    margin-bottom: 0;
  }

  .kofi{
    text-align: center;
  }

  .content a:hover{
    text-decoration: none;
  }
</style>
